body {
  width: 800px;
  margin: 0 auto;
}

caption {
  font-size: 4rem;
  text-align: center;
  vertical-align: baseline;
  text-align: center;
}

table {
  caption-side: top;
}

td,
th {
  text-align: center;
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

.button {
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}
